zurich/src/test/resources/wsdl/getuser.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- This wsdl is auto generated by spring ws -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.jostho.org/zurich" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.jostho.org/zurich" targetNamespace="http://www.jostho.org/zurich">
  <wsdl:types>
    <xs:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:zurich="http://www.jostho.org/zurich" elementFormDefault="qualified" jaxb:version="2.0" targetNamespace="http://www.jostho.org/zurich">
      <xs:element name="GetUserRQ">
        <xs:complexType>
          <xs:all>
            <xs:element name="UserId" type="xs:int"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetUserRS">
        <xs:complexType>
          <xs:all>
            <xs:element name="User" type="zurich:userType"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="userType">
        <xs:sequence>
          <xs:element name="UserId" type="xs:int"/>
          <xs:element name="FirstName" type="xs:string"/>
          <xs:element name="LastName" type="xs:string"/>
          <xs:element name="Email" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetUserRQ">
    <wsdl:part element="tns:GetUserRQ" name="GetUserRQ">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserRS">
    <wsdl:part element="tns:GetUserRS" name="GetUserRS">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Zurich">
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserRQ" name="GetUserRQ">
    </wsdl:input>
      <wsdl:output message="tns:GetUserRS" name="GetUserRS">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZurichSoap11" type="tns:Zurich">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetUserRQ">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetUserRS">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZurichService">
    <wsdl:port binding="tns:ZurichSoap11" name="ZurichSoap11">
      <soap:address location="http://localhost:8080/zurich/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
